<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <input #input (keyup)="searchHospital(input.value)" type="text" class="form-control" placeholder="Buscar hospital...">

            </div>
        </div>
    </div>
</div>


<!-- <div class="row animated fadeIn">
    <div class="col-sm-12">
         <div class="alert alert-warning text-center">
             <strong>Cargando...</strong>
             <br>
             <i class="fa fa fa-refresh fa-spin fa-2x"></i>
             <br>
             <span>Espere por favor</span>
         </div>   
    </div>
 </div> -->


 <div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button (click)="addHospital()" type="button" class="btn btn-primary waves-effect waves-light btn-rounded">
                        <i class="fa fa-plus"></i>
                        Crear hospital
                    </button>
                </div>
                
                <h3 class="card-title">Hospitales registrados (<small>{{_hospitalService.totalHospital}}</small>)</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of hospital">
                            <td>
                                <img (click)="putImage(element)" [src]="element.image | image:'hospitals'" class="pointer" alt="" width="50px">
                            </td>
                            <td><input [(ngModel)]="element.name" type="text" class="form-control" placeholder="Nombre"></td>
                            <td>
                                <button (click)="putHospital(element)" class="btn btn-primary btn-sm">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="deleteHospital(element)" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
 
            </div>
        </div>
    </div>
</div>