<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Perfil de usuario</h4>
                <h6 class="card-subtitle">Nombre del usuario</h6>
                <form ngNativeValidate #form="ngForm" (ngSubmit)="saveProfile(form.value)" class="form p-t-20">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="user.name" name="name" type="text" class="form-control" placeholder="Nombre de usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo Electrónico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="user.email" [disabled]="user.google" name="email" type="email" class="form-control"  placeholder="Correo electronico" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                        <i class="fas fa fa-save"></i>   
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fotografia del usuario</h4>
                <h6 class="card-subtitle">Nombre del usuario</h6>

                <img *ngIf="!imageTemp" [src]="user.image | image" alt="" width="150px">
                <img *ngIf="imageTemp" [src]="imageTemp" alt="" width="150px">
                
                <form class="form p-t-20">
                    <div class="form-group">
                        <input (change)="selectFile( $event.target.files[0] )" name="file" type="file" required>
                    </div>
                </form>

                <button (click)=changeFile() [disabled]="!uploadFile" type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                    <i class="fas fa fa-refresh"></i>   
                    Actualizar foto
                </button>

            </div>
        </div>
    </div>


</div>