<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <table class="table table-hover" *ngIf="users.length > 0">
                    <tbody>
                        <tr *ngFor="let element of users" [routerLink]="['/users']" class="pointer">
                            <td>
                                <img [src]="element.image | image" width="50px" alt="">
                            </td>
                            <td>{{element.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning" *ngIf="users.length === 0">
                    No hay usuarios
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospitales</h4>

                <table class="table table-hover" *ngIf="hospitals.length > 0">
                    <tbody>
                        <tr *ngFor="let element of hospitals" [routerLink]="['/hospitals']" class="pointer">
                            <td>
                                <img [src]="element.image | image: 'hospitals'" width="50px" alt="">
                            </td>
                            <td>{{element.name}}</td>
                        </tr>
                    </tbody> 
                </table>
                <div class="alert alert-warning" *ngIf="hospitals.length === 0">
                    No hay hospitales
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medicos</h4>
                <table class="table table-hover" *ngIf="doctors.length > 0">
                    <tbody>
                        <tr *ngFor="let element of doctors" [routerLink]="['/doctors']" class="pointer">
                            <td>
                                <img [src]="element.image | image: 'doctors'" width="50px" alt="">
                            </td>
                            <td>{{element.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning" *ngIf="doctors.length === 0">
                    No hay medicos
                </div>
            </div>
        </div>
    </div>
</div>