<div class="row">

    <div class="col-md-6" *ngFor="let element of graphics">
        <div class="card">
            <div class="card-body">
                <app-doughnutchart 
                    legend                  = "{{element.legend}}"
                    [doughnutChartLabels]   = "element.labels"
                    [doughnutChartData]     = "element.data"
                    doughnutChartType       = "{{element.type}}"
                ></app-doughnutchart>
            </div>
        </div>
    </div>
    
</div> 