#themecolors li,
.pointer {
    cursor: pointer;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 100%;
    z-index: 9999;
}

.hide {
    display: none;
}